body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.completed {
    color: white;
    background-color: green;
    text-decoration: line-through;
}

.min-vh-75 {
    min-height: 40vh;
}

.catButton {
    background: url(paw.png) no-repeat;
    background-size: cover;
    cursor: pointer;
    border: none;
    width: 60px;
    height: 54px;
}

.catButton:active {
    transform: scale(0.8);
}

.navbar.navbar-expand-lg {
    color: aliceblue;
    background-color: rgb(104, 104, 104);
}

.weatherIcon img {
    width: 50px;
    height: 50px;
}

.notFound {
    height: 100vh;
    width: 100vw;
    top: 2%;
    position: fixed;
    background-image: url(./assets/img/404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 1900px) {
    .notFound {
        background-size: contain;
        background-repeat: repeat;
    }
}
